body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 1rem;
}

#msg {
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}

img {
    width: 50%;
    height: 40vh;
    border-radius: 999px;
}